<div class="row">
  <div class="col ps-0 align-items-center d-flex justify-content-start">
    <h1>My Lists</h1>
  </div>
  <div class="col my-3 mt-3 me-3 align-items-center d-flex justify-content-end">
    <button type="button" class="btn btn-gradient" data-bs-toggle="modal" data-bs-target="#newListModal">
      New List
    </button>
  </div>
</div>

<%# This is the modal - it's not visible %>
<div class="modal fade" id="newListModal" tabindex="-1" aria-labelledby="newListModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newListModal">New List</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@list) do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.button :submit, :class =>"btn btn-gradient" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%# End modal %>

<div class="row">
  <div class="row">
    <% @lists.each do |list| %>
      <div class="card-category mb-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path list.photo.key, height: 300, crop: :fill %>')">
        <h2><%= link_to list.name, list_path(list), {:style=>"color: white; text-decoration: none;"} %><h2></li>
      </div>
    <% end %>
  </div>
</div>
