<h1>New List</h1>
<%= link_to 'Back', root_path, class: "btn btn-gradient" %>
<%= simple_form_for(@list) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, :class =>"btn btn-gradient" %>
<% end %>
