<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')">
  <h1><%= @list.name %></h1>
</div>
<div class="my-3">
  <%= link_to 'Back', root_path, class: "btn btn-gradient" %>
</div>

<div class="row">
  <div class="col-sm-4">
    <h1>Add a movie</h1>
    <%= simple_form_for([@list, @bookmark]) do |f| %>
      <%= f.association :movie %>
      <%= f.input :comment %>
      <%= f.button :submit, 'Add movie', :class =>"btn btn-gradient" %>
    <% end %>
  </div>
  <% @list.bookmarks.each do |bookmark| %>
    <div class="movie col-sm-2" style="background-image: url('<%= image_path bookmark.movie.poster_url, width: 600, height: 900, crop: :fill %>')">
    </div>
    <div class="col-sm-2">
      <h3><%= bookmark.movie.title %></h3>
      <%= bookmark.comment %>
    </div>
  <% end %>
  </div>
</div>
